@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overflow-x: hidden;
}

body {
  background-color: #520901;
}

@layer base {
  @font-face {
  font-family: "Broadway";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Broadway_Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Palatino';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Palatino.ttf) format('truetype');
  }
  @font-face {
    font-family: 'ProductSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Product_Sans_Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Esteban';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Esteban-Regular.ttf) format('truetype');
  }
}

td, th {
  border-collapse: collapse;
  border: 1px solid white;
  margin: 5px 10px;
  padding: 12px 50px;
}

.namaLomba, .abc{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoLomba {
  top:50%;
  transform: translate(0, -50%);
}

.headerButton {
  position: relative;
  display: inline-block;
}

.headerButton:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  padding-top: 2px;
  background-color: #999DA0;
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

.headerButtonThin:after{
  height: 1px;
  padding-top: 1px;
}

.headerButton:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
